<template>
  <div class="d-flex flex-column justify-content-center" style="height: 100vh;">
    <h1>Game over!</h1>
      <h2>Congratulations {{ player.name }}! You have reached level {{ player.level }}</h2>
    <h2>Score: {{ player.score }}</h2>
    <!-- TODO: Fetch Best Score from Back End -->
    <h2>Best Score: {{ player.bestScore }}</h2>

    <div class="row justify-content-center">
        <button class="btn btn-primary" v-on:click="playAgain">Play Again</button>
        <button class="btn btn-primary" v-on:click="backToHome">Back to Home</button>
    </div>
  </div>
</template>

<script lang="ts">
import { player } from "@/models/globalState";
import router from "@/router";
import axios from "axios";
import globalState from "@/models/globalState";



export default {
  data() {
    return {
      player: player,
        score: null
    };
  },
    mounted() {
        axios.get("https://adpro-b3-api.herokuapp.com/json-best-score")
            .then(response => (player.score = response.data.score, player.bestScore = response.data.bestScore))
    },
  methods: {
      playAgain() {
          axios.get("https://adpro-b3-api.herokuapp.com/reset-score").then(response => console.log(response));
          player.reset();
          globalState.saladBuilder.reset();
          router.push('/game');
      },
      backToHome() {
          axios.get("https://adpro-b3-api.herokuapp.com/reset-all-score").then(response => console.log(response));
        player.reset();
        globalState.saladBuilder.reset();
        router.push('/');
      }
  }
};
</script>
