<template>
    <div class="page">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="col-sm-12" style="position: fixed">
                    <button id="back-button" type="button" v-on:click="navigateToLanding">Back</button>
                </div>
                <br><br><br><br><br>
                <h1>LEADERBOARD</h1>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Play ID</th>
                        <th scope="col">Best Score</th>
                    </tr>
                    </thead>
                    <tbody v-for="data in playData" :key="data.playId ">
                    <tr>
                        <th scope="row">{{data.playId}}</th>
                        <td>{{data.bestScore}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 col-sm-12">
                <img
                        class="itsalad-img"
                        id = "logo-on-inst"
                        src="https://files.catbox.moe/2ty33c.png"
                        alt="Itsalad logo"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import router from "@/router";
    import axios from "axios";

    export default {
        data(){
            return{
                playData: []
            }
        },
        mounted() {
            axios.get('https://adpro-b3-api.herokuapp.com/get-all-player').then(res => {
            this.playData = res.data}).catch((err) => {
                console.log(err);
            })
        },
        methods: {
            navigateToLanding(){
                router.go(-1);
            },
        }
    }
</script>

<style scoped>

</style>