<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>
    <p th:if="${scores !=null}" th:text="${'Score : ' + scores}"></p>
     <p th:if="${bestScore !=null}" th:text="${'Best Score : ' + bestScore}"></p>
</span>
<a th:href="@{/}"><button>Main Menu</button></a>
<a th:href="@{'/game?name=' + ${player.getName()}}"><button>Play Again</button></a>
<script>

</script>
</body>
</html>