<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="head-container">
    <div class="row">
        <div class="col-sm-3" style="background-color:lavender;"><h3 id="countdown"></h3></div>
        <div class="col-sm-6" style="background-color:lavenderblush;"><div>
            <h1 th:text="${player.getCurrentState().greetings()}"><h1>
        </div></div>
        <div class="col-sm-3" style="background-color:lavender;">
            <h2>
                SCORE : <span id="scoreview">0</span>
            </h2>
        </div>
    </div>
</div>
<div class="game-container">
    <div class="row">
        <div class="col-sm-3" style="background-color:lavender;">choose condiment</div>
        <div class="col-sm-6" style="background-color:lavenderblush;"><br><br><br>display<br><br><br></div>
        <div class="col-sm-3" style="background-color:lavender;">menu</div>
    </div>
</div>
<div class="game-container">
    <div class="row">
        <div class="col-sm-3" style="background-color:lavender;"></div>
        <div class="col-sm-6" style="background-color:lavenderblush;">
            <button type="button" class="btn btn-primary" id="donebut">Done</button></a>
            <button type="button" class="btn btn-primary">Reset</button>
        </div>
        <div class="col-sm-3" style="background-color:lavender;"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    console.log("test1");
    var timeleft = 30; //count down interval
    var downloadTimer = setInterval(function(){
        if(timeleft <= 0){
            clearInterval(downloadTimer);
            //when count down over, do something
            endFunc();
        } else {
            //showing count down
            document.getElementById("countdown").innerHTML = timeleft;
        }
        timeleft -= 1; //decrease value
    }, 1000);
    function endFunc() {
        location.replace("/end")
    }

    $(document).ready(function () {
        console.log("test");
        //call function when page is loaded
        //getContent();
        //set on change listener
        $('#donebut').click(function () {
            $('#scoreview').load('/game-done-ajax/');

        });
    })

</script>

</body>
</html>