<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<span th:fragment="score" th:if="${scores !=null}" th:text="${scores}">
</span>
</body>
</html>