<div class="score-container col-sm-3">
  <h2>LEVEL : {{ player.level }}</h2>
  <h2>SCORE : <span id="scoreview">{{ player. score }}</span></h2>
  <div class="col-sm-3">
    <ol>
      <li v-for="condiments in menu" v-if="condiments[1] > 0">{{ condiments[0] }} {{ condiments[1] }}x</li>
    </ol>
  </div>
</div>
