<div class="condiments-container col-sm-3">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="">
    </div>

    <h4><br>Condiments</h4>
    <div class="card-container">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="">
            <button class="btn btn-success btn-lg btn-block" v-on:click="addApple">Apple</button>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="">
            <button class="btn btn-success btn-lg btn-block" v-on:click="addBanana">Banana</button>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="">
            <button class="btn btn-success btn-lg btn-block" v-on:click="addGrape">Grape</button>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="">
            <button class="btn btn-success btn-lg btn-block" v-on:click="addLettuce">Lettuce</button>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="">
            <button class="btn btn-success btn-lg btn-block" v-on:click="addCorn">Corn</button>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="">
            <button class="btn btn-success btn-lg btn-block" v-on:click="addTomato">Tomato</button>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="">
            <button class="btn btn-success btn-lg btn-block" v-on:click="addMayonnaise">Mayonnaise</button>
        </div>
    </div>
</div>
