<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #FFFAF1;
            font-family: 'Lato', sans-serif;
            color: #312A2A;
        }

        .container {
            margin: 0rem;
        }

        img {
            width: 20rem;
        }

        h1 {
            font-size: 3rem;
            color: #312A2A;
        }

        button {
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 1.8rem;
            width: 14rem;
            height: 3.6rem;
            border-radius: 0.6rem;
            display: block;
            margin: 1.2rem;
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(78, 97, 81, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #name-button {
            width: 14rem;
            background-color: #9E0602; /* Green */
        }

        #name-button:hover {
            background-color: #8F0602; /* Green */
        }

        #play-button {
            background-color: #378C3B; /* Green */
        }

        #play-button:hover {
            background-color: #338237; /* Green */
        }

        #how-to-play-button {
            background-color: #7CB342; /* Green */
        }

        #how-to-play-button:hover {
            background-color: #78AD40; /* Green */
        }

        .main-section {
            margin: 7rem 4rem;
            width: 100%;
            height: 100%;
        }

        .welcome {
            margin-top: 2rem;
            text-align: center;
        }

        .button-section {
            margin-top: 2rem;
            text-align: center;
        }

        .info {
            padding: 4rem 4rem;
            text-align: center;
            background-color: #F2E5CB;
        }

        #itsalad-info-title {
            font-size: 2.8rem;
            font-weight: 520;
        }

        #itsalad-info-content {
            font-size: 2rem;
            color: #312A2A;
            font-weight: 520;
        }

        .itsalad-span {
            color: #FFFAF1;
            background-color: #9E0602;
            padding: 0.4rem 1rem;
        }

        .dev {
            padding: 3rem 0rem;
            text-align: center;
            width: 100%;
            background-color: #E8DCC5;
        }

        h3 {
            font-size: 2rem;
            font-weight: 400;
        }

        h4 {
            font-size: 1.2rem;
            font-style: italic;
        }

        .team-name {
            font-size: 1rem;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="row main-section">
        <div class="col-md-7 col-sm-12 welcome">
            <h1 th:text="${player.getCurrentState().greetings()}"><h1>
                <img class="itsalad-img" src="https://files.catbox.moe/2ty33c.png" alt="Itsalad logo">
        </div>
        <div class="col-md-5 col-sm-12 button-section">
            <a th:href="@{'/game?name=' + ${player.getName()}}">
                <button id="play-button" type="button">PLAY!</button>
            </a>
            <button id="how-to-play-button" type="button">How to Play</button>
        </div>
    </div>
</div>
</body>
</html>