.page{
    margin: 3rem;
}

h1{
    font-size: 3rem;
    color: #8F0602;
}

ol{
    font-size: 1.4rem;
    text-align: left;
    margin: 3rem;
}

#logo-on-inst{
    width: 16rem;
    margin-top: 6rem;
}

#back-button {
    width: 14rem;
    background-color: #7CB342; /* Green */
}

#back-button:hover {
    background-color: #78AD40; /* Green */
}