<div class="page">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h1>How to Play?</h1>
            <ol>
                <li>Click PLAY!</li>
                <li>The salad recipe will be generated</li>
                <li>You have to add the salad’s ingredients based on the recipe</li>
                <li>Whenever you've completed one menu, click Done so the score will be incremented</li>
                <li>Complete the menus as much as possible within 30 seconds</li>
                <li>Happy Playing!</li>
            </ol>
        </div>
        <div class="col-md-4 col-sm-12">
            <img
            class="itsalad-img"
            id = "logo-on-inst"
            src="https://files.catbox.moe/2ty33c.png"
            alt="Itsalad logo"
          />
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <button id="back-button" type="button" v-on:click="navigateToLanding">Back</button>
    </div>
</div>