<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #FFFAF1;
            font-family: 'Lato', sans-serif;
            color: #312A2A;
        }

        .container {
            margin: 0rem;
        }

        img {
            width: 20rem;
        }

        h1 {
            font-size: 3rem;
            color: #312A2A;
        }

        button {
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 1.8rem;
            width: 14rem;
            height: 3.6rem;
            border-radius: 0.6rem;
            display: block;
            margin: 1.2rem;
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(78, 97, 81, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #name-button {
            width: 14rem;
            background-color: #9E0602; /* Green */
        }

        #name-button:hover {
            background-color: #8F0602; /* Green */
        }

        #play-button {
            background-color: #378C3B; /* Green */
        }

        #play-button:hover {
            background-color: #338237; /* Green */
        }

        #get-ready-button {
            background-color: #7CB342; /* Green */
        }

        #get-ready-button:hover {
            background-color: #78AD40; /* Green */
        }

        .main-section {
            margin: 7rem 4rem;
            width: 100%;
            height: 100%;
        }

        .welcome {
            margin-top: 2rem;
            text-align: center;
        }

        .button-section {
            margin-top: 2rem;
            text-align: center;
        }

        .info {
            padding: 4rem 4rem;
            text-align: center;
            background-color: #F2E5CB;
        }

        #itsalad-info-title {
            font-size: 2.8rem;
            font-weight: 520;
        }

        #itsalad-info-content {
            font-size: 2rem;
            color: #312A2A;
            font-weight: 520;
        }

        .itsalad-span {
            color: #FFFAF1;
            background-color: #9E0602;
            padding: 0.4rem 1rem;
        }

        .dev {
            padding: 3rem 0rem;
            text-align: center;
            width: 100%;
            background-color: #E8DCC5;
        }

        h3 {
            font-size: 2rem;
            font-weight: 400;
        }

        h4 {
            font-size: 1.2rem;
            font-style: italic;
        }

        .team-name {
            font-size: 1rem;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="row main-section">
        <div class="col-md-7 col-sm-12 welcome">
            <h1 th:text="${player.getCurrentState().greetings()}"><h1>
                <img class="itsalad-img" src="https://files.catbox.moe/2ty33c.png" alt="Itsalad logo">
        </div>
        <div class="col-md-5 col-sm-12 button-section">
            <form th:action="@{/add-name}" th:object="${player}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{name}" id="name-entry" placeholder="Your Name">
                </div>
                <button type="submit" id="name-button">Add</button>
            </form>

            <button id="get-ready-button" type="button">How to Play</button>
        </div>
    </div>
    <div class="row info">
        <div class="col-md-12 col-sm-12">
            <h2 id="itsalad-info-title">What is <span class="itsalad-span">It's SALAD!</span> ?</h2>
            <p id="itsalad-info-content">It's SALAD! is a website based application that can be used by
                Client to receive requests from customers (auto-generated from the program)
                in the form of a Salad menu request.</p>
        </div>
    </div>
    <div class="row dev">
        <div class="col-md-12 col-sm-12">
            <h3>Developed by:</h3>
            <h4>B3 Advanced Programming Team</h4>
            <div class="team-name">
                <p>Eugene Brigita</p>
                <p>Idris Yoga</p>
                <p>Ilma</p>
                <p>Louisa Natalika</p>
                <p>Muzaki</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>