<template>
    <div class="left-menu-container d-flex flex-column">
        <Timer />
        <Condiments />
    </div>
</template>

<script lang="ts">
import Timer from "@/components/Timer/Timer.vue";
import Condiments from "@/components/Condiments/Condiments.vue";

export default {
    components: {
        Timer,
        Condiments,
    }
}
</script>

<style>
.left-menu-container {
    display: flex;
    flex-direction: column;
    background-color: #F2E5CB;
}
</style>