<div class="page">
  <div class="row main-section">
    <div class="col-md-7 col-sm-12 welcome">
      <h1>Hello  {{ player.name }}, </h1>
      <h1>Are you ready to play?</h1>
      <img
        class="itsalad-img"
        src="https://files.catbox.moe/2ty33c.png"
        alt="Itsalad logo"
      />
    </div>
    <div class="col-md-5 col-sm-12 button-section">
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="name-entry"
            placeholder="Your Name"
            v-model="player.name"
          />
          <h3>Pick your level:</h3>
          <input type="radio" id="easy" name="level" value="easy" v-model="player.level">
          <label for="easy">Easy</label><br>
          <input type="radio" id="medium" name="level" value="medium" v-model="player.level">
          <label for="medium">Medium</label><br>
          <input type="radio" id="hard" name="level" value="hard" v-model="player.level">
          <label for="hard">Hard</label>
        </div>
        <button type="submit" id="name-button" v-on:click="navigateToReady">Add</button>
      </form>
      <button id="get-ready-button" type="button" v-on:click="navigateToLeaderboard">Leaderboard</button>
      <button id="get-ready-button" type="button" v-on:click="navigateToInstructions">How to Play</button>
    </div>
  </div>
  <div class="row info">
    <div class="col-md-12 col-sm-12">
      <h2 id="itsalad-info-title">
        What is <span class="itsalad-span">It's SALAD!</span> ?
      </h2>
      <p id="itsalad-info-content">
        It's SALAD! is a website based application that can be used by Client to
        receive requests from customers (auto-generated from the program) in the
        form of a Salad menu request.
      </p>
    </div>
  </div>
  <div class="row dev">
    <div class="col-md-12 col-sm-12">
      <h3>Developed by:</h3>
      <h4>B3 Advanced Programming Team</h4>
      <div class="team-name">
        <p>Eugene Brigita</p>
        <p>Idris Yoga</p>
        <p>Ilma</p>
        <p>Louisa Natalika</p>
        <p>Muzaki</p>
      </div>
    </div>
  </div>
</div>
