<div class="page">
    <div class="row main-section">
        <div class="col-md-7 col-sm-12 welcome">
            <h1>Hi, {{ player.name }}!<br>Ready to play?</h1>
                <img class="itsalad-img" src="https://files.catbox.moe/2ty33c.png" alt="Itsalad logo">
        </div>
        <div class="col-md-5 col-sm-12 button-section">
            <h2>You're on level {{ player.level }}</h2>
            <button id="play-button" type="button" v-on:click="initGame">
               <router-link to="/game">PLAY!</router-link>
            </button>
            <button id="how-to-play-button" type="button" v-on:click="navigateToInstructions">How to Play</button>
        </div>
    </div>
</div>
