<div class="game-canvas-container col-sm-6 d-flex flex-column justify-content-between"
     style="background-color:#FFF8DC;" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div>
        <h3>Current Salad Progress</h3>
        <h5>Play Id : {{ player.playId }}</h5>
        <p>Apple: {{ salad.condimentsTotal[0] }}, Banana: {{ salad.condimentsTotal[1] }}, Grape: {{ salad.condimentsTotal[2] }}, Lettuce: {{ salad.condimentsTotal[3] }} <br> Corn: {{ salad.condimentsTotal[4] }}, Tomato: {{ salad.condimentsTotal[5] }}, Mayonnaise: {{ salad.condimentsTotal[6] }}</p>
        <div class="image">
            <div class="cond">
                <img src="https://files.catbox.moe/65v3wa.png" />
            </div>
            <div v-for="condiments in salad.condiments">

                <div class="cond" v-if="condiments.name == 'Apple' && salad.condimentsTotal[0]==1">
                    <img src="https://files.catbox.moe/xdrde7.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Apple' && salad.condimentsTotal[0]==2">
                    <img src="https://files.catbox.moe/8rh0rc.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Apple' && salad.condimentsTotal[0]==3">
                    <img src="https://files.catbox.moe/y9tl64.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Apple' && salad.condimentsTotal[0]==4">
                    <img src="https://files.catbox.moe/h5r4i4.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Apple' && salad.condimentsTotal[0]==5">
                    <img src="https://files.catbox.moe/epb88g.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Apple' && salad.condimentsTotal[0]==6">
                    <img src="https://files.catbox.moe/ztsih4.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Apple' && salad.condimentsTotal[0]==7">
                    <img src="https://files.catbox.moe/uf8e80.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Apple' && salad.condimentsTotal[0]==8">
                    <img src="https://files.catbox.moe/p0vfwt.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Apple' && salad.condimentsTotal[0]>=9">
                    <img src="https://files.catbox.moe/kuey4e.png" />
                </div>


                <div class="cond" v-if="condiments.name == 'Banana' && salad.condimentsTotal[1]==1">
                    <img src="https://files.catbox.moe/uw4mkx.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Banana' && salad.condimentsTotal[1]==2">
                    <img src="https://files.catbox.moe/mwxtgt.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Banana' && salad.condimentsTotal[1]==3">
                    <img src="https://files.catbox.moe/kplbbe.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Banana' && salad.condimentsTotal[1]==4">
                    <img src="https://files.catbox.moe/y5vz0p.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Banana' && salad.condimentsTotal[1]==5">
                    <img src="https://files.catbox.moe/u2ldcs.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Banana' && salad.condimentsTotal[1]==6">
                    <img src="https://files.catbox.moe/zdlvp9.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Banana' && salad.condimentsTotal[1]==7">
                    <img src="https://files.catbox.moe/nfb8vy.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Banana' && salad.condimentsTotal[1]==8">
                    <img src="https://files.catbox.moe/vaubed.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Banana' && salad.condimentsTotal[1]>8">
                    <img src="https://files.catbox.moe/o6q49j.png" />
                </div>


                <div class="cond" v-if="condiments.name == 'Grape' && salad.condimentsTotal[2]==1">
                    <img src="https://files.catbox.moe/6sgc73.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Grape' && salad.condimentsTotal[2]==2">
                    <img src="https://files.catbox.moe/28xznf.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Grape' && salad.condimentsTotal[2]==3">
                    <img src="https://files.catbox.moe/0wdtyb.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Grape' && salad.condimentsTotal[2]==4">
                    <img src="https://files.catbox.moe/0x3sfw.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Grape' && salad.condimentsTotal[2]==5">
                    <img src="https://files.catbox.moe/mldu12.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Grape' && salad.condimentsTotal[2]==6">
                    <img src="https://files.catbox.moe/mkkcvb.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Grape' && salad.condimentsTotal[2]==7">
                    <img src="https://files.catbox.moe/s4d75n.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Grape' && salad.condimentsTotal[2]>7">
                    <img src="https://files.catbox.moe/1elp8w.png" />
                </div>

                <div class="cond" v-if="condiments.name == 'Lettuce' && salad.condimentsTotal[3]==1">
                    <img src="https://files.catbox.moe/3yvmcg.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Lettuce' && salad.condimentsTotal[3]==2">
                    <img src="https://files.catbox.moe/st2tum.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Lettuce' && salad.condimentsTotal[3]==3">
                    <img src="https://files.catbox.moe/z8f3ff.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Lettuce' && salad.condimentsTotal[3]==4">
                    <img src="https://files.catbox.moe/4cb6xw.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Lettuce' && salad.condimentsTotal[3]==5">
                    <img src="https://files.catbox.moe/s3fuom.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Lettuce' && salad.condimentsTotal[3]>5">
                    <img src="https://files.catbox.moe/fbg6eb.png" />
                </div>


                <div class="cond" v-if="condiments.name == 'Corn' && salad.condimentsTotal[4]==1">
                    <img src="https://files.catbox.moe/61dpkn.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Corn' && salad.condimentsTotal[4]==2">
                    <img src="https://files.catbox.moe/b9au2x.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Corn' && salad.condimentsTotal[4]==3">
                    <img src="https://files.catbox.moe/qig75v.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Corn' && salad.condimentsTotal[4]>3">
                    <img src="https://files.catbox.moe/g2mjxn.png" />
                </div>


                <div class="cond" v-if="condiments.name == 'Tomato' && salad.condimentsTotal[5]==1">
                    <img src="https://files.catbox.moe/eoy85m.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Tomato' && salad.condimentsTotal[5]==2">
                    <img src="https://files.catbox.moe/ldj451.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Tomato' && salad.condimentsTotal[5]==3">
                    <img src="https://files.catbox.moe/j3o7c6.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Tomato' && salad.condimentsTotal[5]==4">
                    <img src="https://files.catbox.moe/zqsi8b.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Tomato' && salad.condimentsTotal[5]==5">
                    <img src="https://files.catbox.moe/a708ot.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Tomato' && salad.condimentsTotal[5]>5">
                    <img src="https://files.catbox.moe/4dxgqp.png" />
                </div>


                <div class="cond" v-if="condiments.name == 'Mayonaise' && salad.condimentsTotal[6]==1">
                    <img src="https://files.catbox.moe/reulgk.png" />
                </div>
                <div class="cond" v-if="condiments.name == 'Mayonaise' && salad.condimentsTotal[6]>1">
                    <img src="https://files.catbox.moe/fk0dnc.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center butt">
        <button type="button" class="btn btn-primary" v-on:click="buttonDone" >Done</button>
        <button type="button" class="btn btn-primary" v-on:click="buttonReset">Reset</button>
    </div>
</div>
