.game-canvas-container{
    position: relative;
}

.cond{
    position: absolute;
    margin-left: 150px;
    margin-right: 150px;
}

.button-cl{
    top: 3rem;
}

.image{
    align-items: center;
    margin-left: 2rem;
}